asgiref==3.10.0
babel==2.17.0
barcode==1.0.4
brotli==1.2.0
cffi==2.0.0
cssselect2==0.8.0
Django==3.2.25
fonttools==4.60.1
gunicorn==25.1.0
Levenshtein==0.27.1
packaging==26.0
pillow==12.0.0
psycopg2-binary==2.9.11
pycparser==2.23
pydyf==0.11.0
pyphen==0.17.2
python-barcode==0.16.1
python-decouple==3.8
python-Levenshtein==0.27.1
RapidFuzz==3.14.1
sqlparse==0.5.3
tinycss2==1.4.0
tinyhtml5==2.0.0
tzdata==2025.2
weasyprint==66.0
webencodings==0.5.1
whitenoise==6.11.0
zopfli==0.4.0
